body{
	background-color: #eff3f8;
}
#header{
	height: 250px;
	background-color: #000;
}
.card {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    margin-top: 15px;
	min-height: 100px;
	padding-left: 0px; 
	padding-right: 0px; 
    transition: 0.2s ease-out;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}

.bloco-img img{
	height: 100%;
	width: 100%;
}

.bloco-img{
	padding-left: 0px;
	padding-right: 0px;
}

#poster1 h1{
	color: #0277bd;
}
#poster2 h1{
	color: #2e7d32;
	
}
#poster3 h1{
	color: #f57c00;	
}
/*#Conteudo{
	margin-top: 15px;
}*/