body{
	background-color: #eff3f8;
}
#header{
	height: 250px;
	background-color: #000;
}
.card {
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 15px;
    padding-right: 0px;
    padding-left: 0px;
    /*margin: 0px 15px 15px 15px;*/
    transition: 0.2s ease-out;
}
.card:hover{
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    margin-top: 15px;
}
#card1{
	padding-left: 0px;
}
#card2{
	padding-right: 0px;
}
#card3{
	padding-left: 0px;
}
#card1 img{
	float: left;
	padding-right: 0px;
	width: 100%;

}
#card2 img{
	float: right;
	padding-left: 0px;
	width: 100%;
}
#card3 img{
	float: left;
	padding-right: 0px;
	width: 100%;
}

#card1 h1{
	color: #0277bd;
}
#card2 h1{
	color: #2e7d32;	
}
#card3 h1{
	color: #f57c00;	
}

.card figure{
	padding: 0px 0px 0px 0px;
}
